 .main{
    display: flex;
  
    height: 500px;
    justify-content: center;
    background-color: aqua;
    /* width: 100%; */
}
/*
.ass{
    background-color: aqua;
    height: 150px;
    width: 50%;
} */

.test{
    background-color: pink;
    height: 150px;
    width: 50%;
}
